<h2>Editar tarefa</h2>
<%= form_tag({action: 'edit'}, {method: 'get'}) do %>
  <%= label_tag(:description,"Descrição:") %>
  <%= text_field_tag(:description, @task.description) %>
  <%= submit_tag("Cadastrar") %>
  <%= hidden_field_tag(:id, @task.id) %>
<% end %>